extends layout

block content
    .main.container
        .row
            .col-md-6.col-md-offset-3
                h1.display-4.m-b-2 Waiting for Database Check to Finish
                p Click button for desired action!
                // waiting for data base
                form(method='POST', action='/dbpause')
                    button.btn.btn-primary(type='submit', name='button_cancel', value='cancel') Cancel session?
                    button.btn.btn-primary(type='submit', name='button_continue', value='continue') Continue to wait?
