extends layout

block content
    .main.container
        .row
            .col-md-6.col-md-offset-3
                h1.display-4.m-b-2
                p Welcome to MySQL Database Login Form
                // register form
                form(method='POST' action='/hostname')
                    div.form-group
                        label(for='servername')      Database Server:
                        input#servername.form-control(type='text', placeholder='localhost', name='servername')
                    div.form-group
                        label(for='login')           Database Login :
                        input#login.form-control(type='text', placeholder='root', name='login')
                    div.form-group
                        label(for='password')        DB Password    :
                        input#password.form-control(type='password', placeholder='BRidge6-5094', name='password')
                    div.form-group
                        label(for='confirmPassword') DB Confirm     :
                        input#confirmPassword.form-control(type='password', placeholder='BRidge6-5094', name='confirmPassword')
                    button.btn.btn-primary(type='submit', name='button_login', value='login') login
