extends layout

block content
    .main.container
        .row
            .col-md-6.col-md-offset-3
                h1.display-4.m-b-2 Logout!
                p Your current session is over.
                a(href=url) Click here connect to another database!
