extends layout

block content
    .main.container
        .row
            .col-md-6.col-md-offset-3
                h1.display-4.m-b-2 Welcome to User Management Form
                p The browser user may create a HyperCMS user. On create, there must be an email & password.
                    | Everything else may be defaulted.
                    | The browser user may view a HyperCMS user. On view, only the email need be identified. All
                    | other fields will be identified.
                    | The browser user may edit a HyperCMS user. On edit, identify the HyperCMS user by email and
                    | any field to be changed.
                // register form
                form(method='POST' action='/usermanagement')
                    div.form-group
                        label(for='email') Email:
                        input#email.form-control(type='text', name='email')
                    div.form-group
                        label(for='hcmspassword') HyperCMS Password:
                        input#hcmspassword.form-control(type='password', name='hcmspassword')
                    div.form-group
                        label(for='confirmPassword') Confirm Password:
                        input#confirmPassword.form-control(type='password', name='confirmPassword')
                    div.form-group
                        label(for='lastname') Last Name:
                        input#lastname.form-control(type='text', name='lastname')
                    div.form-group
                        label(for='firstname') First Name:
                        input#firstname.form-control(type='text', name='firstname')
                    div.form-group
                        label(for='middlename') Middle Name:
                        input#middlename.form-control(type='text', name='middlename')
                    div.form-group
                        label(for='phone') Phone:
                        input#phone.form-control(type='text', name='phone')
                    div.form-group
                        label(for='jobTitle') Job Title:
                        input#jobTitle.form-control(type='text', name='jobTitle')
                    div.form-group
                        label(for='role') Job Title:
                        input#role.form-control(type='text', name='role')
                button.btn.btn-primary(type='submit', name='button_create', value='create') create
                button.btn.btn-primary(type='submit', name='button_edit', value='edit') edit
                button.btn.btn-primary(type='submit', name='button_view', value='view') view